@import "tailwindcss";

@theme {
    /* colors */
    --color-new-background:#03031c;
}

:root{
   background: #03031c;
}
body{
    font-family: var(--font-poppins);
}
/* .font-pacifico{font-family: var(--font-pacifico);} */